body {
    background-color:  #6C7A89  ;
    font-family:monospace
    }
 
 header {
    background-color: #A3C6C4  ;
    color:  #354649;
    font-size: x-large;
    padding: 10px;
    text-align: center; position:relative; 
        }
      
        header img {position:absolute; top:30px; left: 50px}
        header p {padding-bottom: 30px;}
 
 nav {
   list-style-type: circle;
   padding: 10px;
   background-color:#E0E7E9;
   font-size: 16px;
   color: #6C7A89 ;
  }

 section {
    display: flex;
    justify-content: space-around
   }
 
 aside {
    width: 25%;
    background-color: #E0E7E9;
    color: #6C7A89;
    font-size: 16px;
    padding: 10px;
 }
 
 article {
    width: 95%;
    background-color:#E0E7E9;
    color:  #354649;
    font-size: 16px;
    padding: 10px;
 }
 
footer {
   text-align: center;
   color: #354649;
}
